li{
    display: inline;
    flex-direction:row;
    place-content:initial;  
    padding:5px
}
ul{
list-style-type: none;
background-color: white;
text-align: center;
border-bottom: 1px solid rgba(78, 78, 78, 0.041);
padding-left: 50px;
padding-right: 50px;


}
li img{
    height: 8%;
    
}
input[type="search" ] {
    background-color: rgba(121, 120, 120, 0.041);
    appearance: auto;
    box-sizing: border-box;
    border-color: rgb(207, 205, 205);
    width: 300px;
    padding-top:10px;
    height:25px;
    padding-bottom: 10px;
    border-width: 0.5px;
    
    margin-bottom: 20px;
    
}
input{
    text-align: center;
}
body{
    background-color: rgb(253, 252, 252);
}
.main{
    padding-left: 150px;
}

.main img:hover{
    opacity:0.9
}
form{
    box-shadow: rgb(219, 216, 216) 3px 3px 2px ;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 240px;
    padding-left: 100px;
    padding-right: 100px;
    border: 2px solid  rgb(253, 252, 252);
    float:right;
    margin-left: 7px;
    margin-right: 45px;
    height: 250px;
    background-color: white;
    border-width: 0.4px;
}
form input{
    background-color:  rgba(121, 120, 120, 0.041);
    border-color:rgb(233, 230, 230) ;
    border-width: 0.5px;
    padding:10px;
    margin: 5px;
}
form button{
    color:white;
    width:200px;
    max-width: 200px;
    min-width: 120px;
    border-radius:30px;
    text-align: center;
    padding-bottom: 6px;
    border-color: rgb(19, 118, 247) ;
    background-color: rgb(19, 118, 247);
}
form p{
    font-size: 13px;
    color:rgb(155, 153, 153)
    
}

form a{
    text-decoration: none;
    font-size: 15px;
}
img.btn{
    color:white
}

form button:hover,button:active{
    background-color:rgb(133, 178, 236);



}